body{
    display: flex;
    justify-content: center;
    background-color: coral;

}

.score-short{
   margin: 0px auto;
   margin-top: 20px;

}

.classifica-short{
    margin: 0px auto;
    margin-top: 570px;
    width: min-content;
}