body{
    display: flex;
    justify-content: center;
    background-color: coral;

}

.score-short{
   

}

.classifica-long{
    margin-left: auto; 
    margin-right: 0;
    

}

.classifica-short{
    margin: auto;
    margin-top: 1000px;
    background-color: brown;

    
    

}

.game-short{

}